.wap {
  padding-inline: 229px;
}

.container {
  position: relative;

  width: 1462px;
  height: 720px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 264px;
  margin-bottom: 200px;
}
.left {
  color: var(--color-primary);
  position: relative;
}

.number {
  font-size: 240px;
  opacity: 0.08;
  position: absolute;
  top: -140px;
  left: -140px;
}

/* .text {
} */

.small {
  color: var(--color-span);
  font-size: 22px;
  margin-bottom: 20px;

  &::before {
    content: "";
    width: 75px;
    border-bottom: 2px solid var(--color-span);
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.title {
  font-size: 67px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 22px;
  margin-bottom: 20px;
}

.button {
  font-size: 17px;
  color: var(--color-span);
  background: none;

  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.right {
  height: 100%;
  width: auto;
}
