.img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 90%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 90%
  );

  background: linear-gradient(#0b1d26, #0b1d26);
}
