.footer {
  padding-inline: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-primary);
}

/* .slogan {
} */

.logo {
  font-size: 25px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  margin-bottom: 103px;
}

.copyright {
  font-size: 14px;
  opacity: 0.4;
}

/* .more{
} */

.title {
  color: var(--color-span);
  margin-bottom: 20px;
}

.about {
  list-style-type: none;
}

.about li {
  margin-bottom: 15px;
}

.li {
  color: var(--color-primary);
  text-decoration: none;
}

/* .mntn{} */

